@page "/"

<h1>Welcome to the Trakx Tools app!</h1>
<p>
    <strong>Trakx Tools </strong> is an application that allows authorized users to interact with the tools implemented by Trakx.io.
</p>
<p>
    Make sure you are connected to an authorized account to access menu tabs.
</p>
<p>
    <MatButton Link="https://github.com/trakx/trakx-tools"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;  Github Repository / Contribute</MatButton>- Contribute to this repo to help it grow!
</p>
